html {
    overflow-y: scroll;
}

body {
    height: 100%;
    background-color: #DCDCDC;
    background-size: cover;
    overflow: auto;
}

.top-buffer {
    margin-top: 20px;
}

.top-buffer2 {
    margin-top: 40px;
}

.top-buffer3 {
    margin-top: 5px;
}

.material-icons.md-36 {
    font-size: 36px;
}