<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">

    <meta name="description" content="Obligatorio 1 de la materia Sistemas Embebidos">
    <meta property="og:title" content="Obligatorio de Sistemas Embebidos" />
    <meta property="og:url" content="https://iandel.net/" />
    <meta property="og:description" content="Obligatorio de Sistemas Embebidos">
    <meta property="og:image" content="client/resources/ogmonitor.png">

    <script src="https://cdnjs.cloudflare.com/ajax/libs/socket.io/2.0.3/socket.io.js"></script>

    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>

    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css" integrity="sha384-JcKb8q3iqJ61gNV9KGb8thSsNjpSL0n8PARn9HuZOnIxN0hoP+VmmDGMN5t9UJ0Z" crossorigin="anonymous">
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js" integrity="sha384-B4gt1jrGC7Jh4AgTPSdUtOBvfO8shuf57BaghqFfPlYxofvL8/KUEfYiJOMMV+rV" crossorigin="anonymous"></script>

    <link rel="stylesheet" href="https://fonts.googleapis.com/icon?family=Material+Icons">

    <link rel="shortcut icon" type = "image/x-icon" href="/client/resources/favicon.ico">

    <title>Obligatorio 1</title>

    <style type="text/css"> 

        html {
            overflow-y: scroll;
        }

        body {
            height: 100%;
            background-color: #DCDCDC;
            background: url('/client/resources/temp.jpg'); 
            background-size: cover;
            overflow: auto;
        }

    </style>

    <link rel="stylesheet" href="/client/styles/form.css">

<script>function getCookie(cname) {
    var name = cname + "=";
    var decodedCookie = decodeURIComponent(document.cookie);
    var ca = decodedCookie.split(';');
    for(var i = 0; i <ca.length; i++) {
      var c = ca[i];
      while (c.charAt(0) == ' ') {
        c = c.substring(1);
      }
      if (c.indexOf(name) == 0) {
        return c.substring(name.length, c.length);
      }
    }
    return "";
  }

  let login_response = getCookie('login')
    console.log(login_response) ;
</script>

</head>

<body style="overflow: hidden">
   

    <div id = 'loginDiv'>

        <div class="login-form">    
            <form action = "/login" method="post">
                <div class="avatar"><i class="material-icons">&#xE7FF;</i></div>
                <h4 class="modal-title">Login to Your Account</h4>
                <div class="form-group">
                    <input name = "username" type="text" class="form-control" placeholder="Username" required="required" id = "username_id">
                </div>
                <div class="form-group">
                    <input name = "password" type="password" class="form-control" placeholder="Password" required="required" id = "password_id">
                </div>
                <h6 id = "login_response"></h6>
                <input type="submit" name = "action" class="btn btn-primary btn-block btn-lg" value="Log In">  
                <input type="submit" name = "action" class="btn btn-primary btn-block btn-lg" value="Register"> 
            </form>			
        </div>

        
    </div>

    <script>
        $("#login_response").text(login_response)
    </script>
    
 </body>   