<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">

    <meta name="description" content="Obligatorio 1 de la materia Sistemas Embebidos">
    <meta property="og:title" content="Obligatorio de Sistemas Embebidos" />
    <meta property="og:url" content="https://iandel.net/" />
    <meta property="og:description" content="Obligatorio de Sistemas Embebidos">
    <meta property="og:image" content="client/resources/ogmonitor.png">

    <script src="https://cdnjs.cloudflare.com/ajax/libs/socket.io/2.0.3/socket.io.js"></script>

    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>

    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css" integrity="sha384-JcKb8q3iqJ61gNV9KGb8thSsNjpSL0n8PARn9HuZOnIxN0hoP+VmmDGMN5t9UJ0Z" crossorigin="anonymous">
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js" integrity="sha384-B4gt1jrGC7Jh4AgTPSdUtOBvfO8shuf57BaghqFfPlYxofvL8/KUEfYiJOMMV+rV" crossorigin="anonymous"></script>

    <link rel="stylesheet" href="https://fonts.googleapis.com/icon?family=Material+Icons">

    <link rel="shortcut icon" type = "image/x-icon" href="/client/resources/favicon.ico">

    <title>Obligatorio 1</title>

    <style type="text/css"> 

        html {
            overflow-y: scroll;
        }

        body {
            height: 100%;
            background-color: #DCDCDC;
            background: url('/client/resources/temp.jpg'); 
            background-size: cover;
            overflow: auto;
        }

        .form-control {
	        box-shadow: none;
	        border-color: #ddd;
        }
        .form-control:focus {
            border-color: #4aba70; 
        }
        .login-form {
            width: 350px;
            margin: 0 auto;
            padding: 90px 0;
        }
        .login-form form {
            color: #434343;
            border-radius: 1px;
            margin-bottom: 15px;
            background: #fff;
            border: 1px solid #f3f3f3;
            box-shadow: 0px 2px 2px rgba(0, 0, 0, 0.3);
            padding: 30px;
        }
        .login-form h4 {
            text-align: center;
            font-size: 22px;
            margin-bottom: 20px;
        }
        .login-form .avatar {
            color: #fff;
            margin: 0 auto 30px;
            text-align: center;
            width: 100px;
            height: 100px;
            border-radius: 50%;
            z-index: 9;
            background: #0C7FF6;
            padding: 15px;
            box-shadow: 0px 2px 2px rgba(0, 0, 0, 0.1);
        }
        .login-form .avatar i {
            font-size: 62px;
        }
        .login-form .form-group {
            margin-bottom: 20px;
        }
        .login-form .form-control, .login-form .btn {
            min-height: 40px;
            border-radius: 2px; 
            transition: all 0.5s;
        }
        .login-form .close {
            position: absolute;
            top: 15px;
            right: 15px;
        }
        .login-form .btn, .login-form .btn:active {
            background: #0C7FF6 !important;
            border: none;
            line-height: normal;
        }
        .login-form .btn:hover, .login-form .btn:focus {
            background: #0C7FF6 !important;
        }
        .login-form .checkbox-inline {
            float: left;
        }
        .login-form input[type="checkbox"] {
            position: relative;
            top: 2px;
        }
        .login-form .forgot-link {
            float: right;
        }
        .login-form .small {
            font-size: 13px;
        }
        .login-form a {
            color: #0C7FF6;
        }


    </style>

<script>function getCookie(cname) {
    var name = cname + "=";
    var decodedCookie = decodeURIComponent(document.cookie);
    var ca = decodedCookie.split(';');
    for(var i = 0; i <ca.length; i++) {
      var c = ca[i];
      while (c.charAt(0) == ' ') {
        c = c.substring(1);
      }
      if (c.indexOf(name) == 0) {
        return c.substring(name.length, c.length);
      }
    }
    return "";
  }

  let register_response = getCookie('register')
    console.log(register_response) ;
</script>

</head>

<body style="overflow: hidden">
   

    <div id = 'loginDiv'>

        <div class="login-form">    
            <form action = "/register" method="post">
                <div class="avatar"><i class="material-icons">&#xE7FF;</i></div>
                <h4 class="modal-title">Register</h4>
                <div class="form-group">
                    <input name = "username" type="text" class="form-control" placeholder="Username" required="required" id = "username_id">
                </div>
                <div class="form-group">
                    <input name = "password" type="password" class="form-control" placeholder="Password" required="required" id = "password_id">
                </div>
                <h6 id = "register_response"></h6>
                <input type="submit" class="btn btn-primary btn-block btn-lg" value="Register">            
            </form>		
            <form action="/login" method="get">
                <input type="submit" value="Exit" 
                      class="btn btn-primary btn-block btn-lg" />
            </form> 	
        </div>

        
    </div>

    <script>
        $("#register_response").text(register_response)
    </script>
    
 </body>   